Package: couling-package-project
Section: devel
Priority: optional
Architecture: all
Depends: bash, dpkg-dev, gnupg, git
Suggests:
Conflicts:
Replaces:
Maintainer: Philip Couling <couling@gmail.com>
Description: package-project is a simple script for building a dpkg from a manifest 
 file.  
